{% extends 'base.html' %}


{% block title %}
  Register new account
{% endblock %}


{% block content %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="p-5">
          <div class="text-center">
            <h4 class="text-dark mb-4">Create an Account!</h4>
          </div>
          <form class="text-center" method="POST" action="{{ url_for('auth.register_user') }}">
            <div class="row mb-3">
              <div class="col">
                <input class="form-control form-control-user" type="text" name="name" placeholder="Name" required="" />
              </div>
            </div>
            <div class="mb-3">
              <input class="form-control form-control-user" type="email" name="email" id="email" placeholder="Email Address" required="" />
            </div>
            <div class="mb-3">
              <input class="form-control form-control-user" type="adress" name="address" placeholder="Adress" required="" />
            </div>
            <div class="row mb-3">
              <div class="col-6 mb-3 mb-sm-0">
                <input class="form-control form-control-user" type="adress" name="city" placeholder="City" required="" />
              </div>
              <div class="col-6">
                <input class="form-control form-control-user" type="adress" name="postcode" placeholder="Postcode" required="" />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-6 mb-3 mb-sm-0">
                <input class="form-control form-control-user" type="password" name="password" id="password" placeholder="Password" required="" />
              </div>
              <div class="col-6">
                <input class="form-control form-control-user" type="password" name="verify_password" id="verify_password" placeholder="Repeat Password" required="" />
              </div>
            </div>
            <div class="row mb-3">
              <div id="password_error" class="alert alert-danger" role="alert" style="display:none;">
              </div>        
              <div id="email_error" class="alert alert-danger" role="alert" style="display:none;">
              </div>
              {% with messages = get_flashed_messages() %}
              {% if messages %}
              <div class="alert alert-danger" role="alert">
                {{ messages[0] }}
              </div>        
              {% endif %}
              {% endwith %}
            </div>
            <button class="btn btn-dark d-block btn-user w-100" id="submit_btn" type="submit">Register Account</button>
            <hr />
          </form>
          <div class="text-center">
            <a class="small" href="{{ url_for('auth.forgot_password') }}">Forgot Password?</a>
          </div>
          <div class="text-center">
            <a class="small" href="{{ url_for('auth.login_user') }}">Already have an account? Login!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block inline_scripts %}
  <script>
    let email = document.getElementById('email')
    let password = document.getElementById('password')
    let verify_password = document.getElementById('verify_password')
    let submit_btn = document.getElementById('submit_btn')
    let email_error = document.getElementById('email_error')
    let password_error = document.getElementById('password_error')
    
    function displayErrorMsg(type, msg) {
      if (type == 'email') {
        email_error.style.display = 'block'
        email_error.innerHTML = msg
        submit_btn.disabled = true
      } else {
        password_error.style.display = 'block'
        password_error.innerHTML = msg
        submit_btn.disabled = true
      }
    }
    
    function hideErrorMsg(type) {
      if (type == 'email') {
        email_error.style.display = 'none'
        email_error.innerHTML = ''
        submit_btn.disabled = false
        if (password_error.innerHTML == '') submit_btn.disabled = false
      } else {
        password_error.style.display = 'none'
        password_error.innerHTML = ''
        submit_btn.disabled = false
        if (email_error.innerHTML == '') submit_btn.disabled = false
      }
    }
    
    // Validate password upon change
    password.addEventListener('change', function () {
      // If password has no value, then it won't be changed and no error will be displayed
      if (password.value.length == 0 && verify_password.value.length == 0) hideErrorMsg('password')
      // If password has a value, then it will be checked. In this case the passwords don't match
      else if (password.value !== verify_password.value) displayErrorMsg('password', 'Passwords do not match')
      // When the passwords match, we check the length
      else hideErrorMsg('password')
    })
    
    verify_password.addEventListener('change', function () {
      if (password.value !== verify_password.value) displayErrorMsg('password', 'Passwords do not match')
      else hideErrorMsg('password')
    })
    
    // Validate email upon change
    email.addEventListener('change', function () {
      // Check if the email is valid using a regular expression (string@string.string)
      if (email.value.match(/^[^@]+@[^@]+\.[^@]+$/)) hideErrorMsg('email')
      else displayErrorMsg('email', 'Invalid email')
    })
  </script>
{% endblock %}