{% extends 'base.html' %}


{% block title %}
  Dunder Mifflin Paper Company
{% endblock %}


{% block content %}
  <div class="container d-flex flex-wrap py-5 justify-content-center">
    {% if products %}
      {% for product in products %}
        <a class="nav-link" href="{{ url_for('store.product_info') }}?id={{ product.id }}" data-type="product">
        <div class="flex-column flex-lg-row align-items-lg-center media p-3" style="width: 175px;">
            <div class="order-2 order-lg-1 media-body">
              <h6 class="text-truncate mt-0 font-weight-bold mb-2" data-type="product name"><strong>{{ product['name'] }}</strong></h6>
              <p class="text-truncate text-muted font-italic mb-0 small" data-type="product description">{{ product['description'] }}</p>
              <div class="d-flex justify-content-between align-items-center mt-0">
                <h6 class="float-end font-weight-bold my-2" data-type="product price">{{ product.price|int }} kr</h6>
                <div class="d-flex float-end justify-content-center justify-content-xl-start align-items-xl-end mt-2" style="margin: 0px;margin-right: 40px;">
                  {% include 'store/average_rating.html'%}
                </div>
              </div>
            </div>
            <img class="order-1 order-lg-2 ml-lg-5 img-fluid rounded" src="{{ url_for('static', filename=product['image_path']) }}" alt="{{ product['name'] }}" width="200" data-type="product image" />
        </div>
        </a>
      {% endfor %}
    {% else %}
      <p>No products :(</p>
    {% endif %}
  </div>
{% endblock %}

{% block footer %}
  </br>
  {% include "pagination.html" %} 
{%- endblock footer %}