{% extends 'base.html' %}


{% block title %}
  40 pound letter stock
{% endblock %}


{% block content %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-sm-7">
        <div class="card rounded border-0">
          <div class="card-body m-2">
            <div class="row">
              <div class="col-sm-8">
                <h3 class="font-weight-bold">40 pound letter stock</h3>
                <img class="img-fluid rounded" src="\static\images\40_pound_letter_stock.png" alt="" width="200" data-type="product image" />
              </div>
              <div class="col-sm-4">
                <div class="card border-0 col-md-auto">
                  <div class="card-body col-md-auto">
                    <h4 class="card-title">199 kr</h4>
                    <ul class="list-inline d-xl-flex justify-content-xl-start align-items-xl-start small">
                      <li class="list-inline-item list-inline-item m-0">
                        <i class="bi bi-star-fill"></i>
                      </li>
                      <li class="list-inline-item list-inline-item m-0">
                        <i class="bi bi-star-fill"></i>
                      </li>
                      <li class="list-inline-item list-inline-item m-0">
                        <i class="bi bi-star-fill"></i>
                      </li>
                      <li class="list-inline-item list-inline-item m-0">
                        <i class="bi bi-star-fill"></i>
                      </li>
                      <li class="list-inline-item list-inline-item m-0">
                        <i class="bi bi-star"></i>
                      </li>
                    </ul>
                    <p>In stock: 9999</p>
                    <div class="row">
                      <div class="hstack gap-1">
                        <input id="form2" min="1" name="quantity" value="1" type="number" class="form-control form-control-sm" style="width: 60px;" />
                        <button class="btn btn-dark btn-lsm" style="min-width: 110px; max-height: 40px;" type="button">Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row d-flex">
            <div class="col mx-4 mb-2">
              <p class="small">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="card rounded border mt-3">
          <div class="card-body p-4">
            <div class="row">
              <div class="col">
                <h5 class="font-weight-bold">Reviews...</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
