{% extends 'base.html' %} {% block title %}
  40 pound letter stock
{% endblock %}
{% block content %}
  {% if product %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-sm-7">
        <div class="card rounded border-0">
          <div class="card-body m-2">
            <div class="row">
              <div class="col-sm-8">
                <h3 class="font-weight-bold">{{ product.name }}</h3>
                <img class="img-fluid rounded" src="{{ url_for('static', filename = product['image_path']) }}" alt="" width="200" data-type="product image" />
              </div>
              <div class="col-sm-4">
                <div class="card border-0 col-md-auto">
                  <div class="card-body col-md-auto">
                    <h4 class="card-title">{{ product.price }} kr</h4>
                    <ul class="list-inline d-xl-flex justify-content-xl-start align-items-xl-start small">
                      <li class="list-inline-item list-inline-item m-0">
                        <i class="bi bi-star-fill"></i>
                      </li>
                      <li class="list-inline-item list-inline-item m-0">
                        <i class="bi bi-star-fill"></i>
                      </li>
                      <li class="list-inline-item list-inline-item m-0">
                        <i class="bi bi-star-fill"></i>
                      </li>
                      <li class="list-inline-item list-inline-item m-0">
                        <i class="bi bi-star-fill"></i>
                      </li>
                      <li class="list-inline-item list-inline-item m-0">
                        <i class="bi bi-star"></i>
                      </li>
                    </ul>
                    <p>In stock: {{ product.in_stock }}</p>
                    <div class="row">
                      <form class="text-center" method="POST" action="{{ url_for('store.add_to_cart') }}?id={{ id }}">
                        {% if g.user %}
                          <div class="hstack gap-1">
                            <input min="1" id="quantity" name="quantity" value="1" type="number" class="form-control form-control-sm" style="width: 60px" />
                            <button id="submitBtn" class="btn btn-dark btn-lsm" style="min-width: 110px; max-height: 40px" type="submit">Add to cart</button>
                          </div>
                          <p id="errorMsg" class="text-danger" style="display:none;">Paragraph</p>
                        {% else %}
                          <div class="hstack gap-1">
                            <input min="1" name="quantity" value="1" type="number" class="form-control form-control-sm" style="width: 60px" disabled />
                            <button id="submitBtn" class="btn btn-dark btn-lsm" style="min-width: 110px; max-height: 40px" type="button" disabled>Add to cart</button>
                          </div>
                        {% endif %}
                      </form>
                    </div>
                  </div>
                </div>
                <div class="row">
                  {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      <div class="notification is-danger">
                        <p class="small">{{ messages[0] }}</p>
                      </div>
                    {% endif %}
                  {% endwith %}
                </div>
              </div>
            </div>
          </div>
          <div class="row d-flex">
            <div class="col mx-4 mb-2">
              <p class="small">{{ product.description }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="card rounded border mt-3">
          <div class="card-body p-4">
            <div class="row">
              <div class="col">
                <h5 class="font-weight-bold">Reviews...</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-sm-7">
        <div class="card rounded border-0">
          <div class="card-body m-2">
            <div class="row">
              <div class="col-sm-8">
                <h3 class="font-weight-bold">Product not found</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
{% endblock %}

{% block inline_scripts %}
  <script>
    let quantity = document.getElementById('quantity')
    let submitBtn = document.getElementById('submitBtn')
    let errorMsg = document.getElementById('errorMsg')
    
    function displayErrorMsg(msg) {
      errorMsg.style.display = 'block'
      errorMsg.innerHTML = msg
      submitBtn.disabled = true
    }
    
    function hideErrorMsg() {
      errorMsg.style.display = 'none'
      errorMsg.innerHTML = ''
      submitBtn.disabled = false
    }
    
    quantity.addEventListener('change', function () {
      if (Number.isInteger(parseInt(quantity.value))) hideErrorMsg()
      else displayErrorMsg('Quantity must be an integer.')
    })
  </script>
{% endblock %}
