{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-sm-7">
        <div class="card rounded border">
          <div class="card-body m-2">
            <div class="row">
              <div class="col-sm-8">
                <img class="img-fluid rounded" src="\static\images\40_pound_letter_stock.png" alt="" width="200" data-type="product image" />
              </div>
              <div class="col">
                <div class="card border-0 col-md-auto">
                  <div class="card-body col-md-auto">
                    <h4 class="card-title">199 kr</h4>
                      <p>In stock: 5000</p>
                    <div class="row d-grid gap-2 d-md-flex justify-content-md-end">
                      <div class="col">
                        <input id="form2" min="0" name="quantity" value="1" type="number" class="form-control form-control-sm" style="width: 102px;" />
                      </div>
                      <div class="col">
                        <button class="btn btn-dark btn-lsm" style="min-width: 75px; max-height: 40px;" type="button">Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row d-flex">
            <div class="col mx-4 mb-2">
              <h3 class="font-weight-bold">Product</h3>
              <p class="small">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-7">
      <div class="card rounded border mt-3">
        <div class="card-body p-4">
          <div class="row">
            <div class="col">
              <h5 class="font-weight-bold">Reviews...</h5>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
{% endblock %}
