{% extends 'admin/index.html' %}

{% block title %}
  Customer list
{% endblock %}

{% block admin_content %}
      <div class="col-9 mt-5">
        <div class="card rounded border">
          <div class="card-body p-4">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Postcode</th>
                    <th scope="col">City</th>
                  </tr>
                </thead>
                <tbody>
                  {% for customer in customers %}
                  <tr>
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.address }}</td>
                    <td>{{ customer.postcode }}</td>
                    <td>{{ customer.city }}</td>
                    <td><a href="{{ url_for('admin.customer_orders', id=customer.id) }}">orders</a></td>
                    <td><a href="{{ url_for('admin.view_edit_profile', id=customer.id) }}">edit</a></td>
                    <td><a href="{{ url_for('admin.delete_customer', id=customer.id) }}">remove</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
