{% extends 'admin/index.html' %}

{% block title %}
  Product list
{% endblock %}

{% block admin_content %}
      <div class="col-9 mt-5">
        <div class="card rounded border">
          <div class="card-body p-4">
            <a href="{{ url_for('admin.add_product') }}" class="btn btn-dark mb-3">Add Product</a>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Stock</th>
                  </tr>
                </thead>
                <tbody>
                  {% for product in products %}
                  <tr>
                    <td>{{ product.id }}</td>
                    <td><a href="{{ url_for('admin.product_details', id=product.id) }}">{{ product.name }}</a></td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.in_stock }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
