{% extends 'customer/profile.html' %}


{% block title %}
  Edit profile
{% endblock %}


{% block profile_content %}
  <div class="col-sm-6">
    <div>
      <h4 class="text-dark py-4">Edit profile</h4>
      <p class="w-lg-50"></p>
    </div>
    <form class="text-center" method="POST" action="{{ url_for('customer.edit_profile') }}">
      <div class="row mb-3">
        <div class="col mb-3 mb-sm-0">
          <input class="form-control form-control form-control-user" id="" type="text" name="name" placeholder="Name" value="{{user.name}}" required="" />
        </div>
      </div>
      <div class="mb-3">
        <input class="form-control form-control form-control-user" id="email" type="email" name="email" value="{{user.email}}" required="" />
      </div>
      <div class="mb-3">
        <input class="form-control form-control-user" type="adress" id="address" name="address" placeholder="Address" value="{{user.address}}" required="" />
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <input class="form-control form-control-user" type="address" id="city" name="city" placeholder="City" value="{{user.city}}" required />
        </div>
        <div class="col-sm-6">
          <input class="form-control form-control-user" type="address" id="postcode" name="postcode" placeholder="Postcode" value="{{user.name}}" required />
        </div>
      </div>
      <div class="mb-3">
        <input class="form-control form-control-user" type="password" id="current_password" name="current_password" placeholder="Current password" required />
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <input class="form-control form-control form-control-user" type="password" id="new_password" name="new_password" placeholder="New password"/>
        </div>
        <div class="col-sm-6">
          <input class="form-control form-control form-control-user" type="password" id="verify_password" name="verify_password" placeholder="Repeat new password"/>
        </div>
      </div>
      <div class="row mb-3">
        <div id="password_error" class="alert alert-danger" role="alert" style="display:none;">
        </div>        
        <div id="email_error" class="alert alert-danger" role="alert" style="display:none;">
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger" role="alert">
          {{ messages[0] }}
        </div>        
        {% endif %}
        {% endwith %}
      </div><button id="submit_btn" class="btn btn-dark d-block w-20" type="submit">Apply changes!</button>

</form>
  </div>
{% endblock %}

{% block inline_scripts %}
<script>
  let email = document.getElementById('email')
  let new_password = document.getElementById('new_password')
  let verify_password = document.getElementById('verify_password')
  let submit_btn = document.getElementById('submit_btn')
  let email_error = document.getElementById('email_error')
  let password_error = document.getElementById('password_error')
  
  function displayErrorMsg(type, msg) {
    if (type == 'email') {
      email_error.style.display = 'block'
      email_error.innerHTML = msg
      submit_btn.disabled = true
    } else {
      password_error.style.display = 'block'
      password_error.innerHTML = msg
      submit_btn.disabled = true
    }
  }
  
  function hideErrorMsg(type) {
    if (type == 'email') {
      email_error.style.display = 'none'
      email_error.innerHTML = ''
      submit_btn.disabled = false
      if (password_error.innerHTML == '') submit_btn.disabled = false
    } else {
      password_error.style.display = 'none'
      password_error.innerHTML = ''
      submit_btn.disabled = false
      if (email_error.innerHTML == '') submit_btn.disabled = false
    }
  }
  
  // Validate password upon change
  new_password.addEventListener('change', function () {
    // If password has no value, then it won't be changed and no error will be displayed
    if (new_password.value.length == 0 && verify_password.value.length == 0) hideErrorMsg('password')
    // If password has a value, then it will be checked. In this case the passwords don't match
    else if (new_password.value !== verify_password.value) displayErrorMsg('password', 'Passwords do not match')
    // When the passwords match, we check the length
    else hideErrorMsg('password')
  })
  
  verify_password.addEventListener('change', function () {
    if (new_password.value !== verify_password.value) displayErrorMsg('password', 'Passwords do not match')
      else hideErrorMsg('password')
 
  })
  

</script>
{% endblock %}
