<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if page > 1 %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for('store.index') }}?page={{ page-1 }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% if page > 1 %}
    <li class="page-item"><a class="page-link" href="{{ url_for('store.index') }}?page={{ page-1 }}">{{ page-1 }}</a></li>
    {% endif %}
    <li class="page-item active dark"><a class="page-link" href="{{ url_for('store.index') }}?page={{ page }}">{{ page }}</a></li>
    {% if (tot_prod - page*limit) > 0 %}
    <li class="page-item"><a class="page-link" href="{{ url_for('store.index') }}?page={{ page+1 }}">{{ page+1 }}</a></li>
    {% endif %}
    {% if (tot_prod - page*limit) > 0 %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for('store.index') }}?page={{ page+1 }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>