<nav class="navbar navbar-expand-md border-bottom navbar-light">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('index') }}">Store</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
        {% if not g.user %}
          <a class="nav-link" href="{{ url_for('auth.login_user') }}">Log in</a>
        {% else %}
            <a class="nav-link" href="{{ url_for('customer.profile') }}">Profile</a>
        {% endif %}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('store.cart') }}">Cart</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
